.mycandidatesBox{
    overflow-x: auto;
    position: relative;
    margin-left: 250px;
    margin-right: 90px;
    border-width:1;
    border-color: rgb(101, 101, 101);
    border-style: solid;
    height: 760px;
}
.navMenu{
position: relative;
display: flex;
padding: 5px;
height: 60px;
}

.bttn{
    white-space: nowrap;
    margin: 5px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
}
.bttn-end{
 margin-left: 900px;
}

.table{
    border-width:1;
    border-color: rgb(101, 101, 101);
    border-style: solid;
    margin: 10px;
}
tr{
    font-size: 18px;
}
tr:hover{
     background-color: #1976d26d;
}